<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GpsMapper">

	
	
	<insert id="gpsInsert" parameterType="map" >
		INSERT INTO GPS (KAKAOCODE,LAT,LNG)
		VALUES(#{kakaocode}, #{lat}, #{lng})				 
	</insert>
	
	<select id="gpsDup" parameterType="string" resultType="map">
		select KAKAOCODE, LAT, LNG from GPS where KAKAOCODE = #{value}				 
	</select>
	
	<update id="gpsUpdate" parameterType="map" >
		update GPS set LAT=#{lat}, LNG=#{lng} where KAKAOCODE = #{kakaocode}			 
	</update>
	
	<select id="onLineUser" resultType="map">
		select KAKAOCODE, LAT, LNG FROM GPS			 
	</select>
	
	<delete id="deleteUser" parameterType="map">
		delete from GPS where KAKAOCODE = #{id}		 
	</delete>
	
	

</mapper>