<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPageMapper">


	<update id="updatemyinfo" parameterType="map">
	update member set COLOR = #{COLOR}, FOOD = #{FOOD}, SINGER = #{SINGER}, MOVIEGENRE = #{MOVIEGENRE}, INSTAGRAM = #{INSTAGRAM} where KAKAOCODE = #{KAKAOCODE}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteaccount" parameterType="map" >
		delete from `member` where KAKAOCODE = #{KAKAOCODE}
	</delete>
	

</mapper>