<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

	<select id="userSelectByKakao" parameterType="string" resultType="com.ymd.manitto.User">
		SELECT KAKAOCODE,NAME,COLOR,FOOD,SINGER,MOVIEGENRE,INSTAGRAM,EMAIL,STATUS,PROFILEIMG,FCM
		 FROM MEMBER
		 WHERE KAKAOCODE = #{value}
	</select>
	
	<insert id="likeyou" parameterType="map" >
		insert into likeme (target,stalker,checkdate)
		values(#{TARGET}, #{STALKER}, NOW())
				 
	</insert>
	
	<select id="searchMSG" parameterType="map">
		select 
		
		
	</select>
	<select id="loveSight" parameterType="string" resultType="map">
	select target,checkdate
	from likeme
	where stalker = #{value}
	</select>
	
	<select id="findMyFriends" parameterType="map" resultType="map">
		select KAKAOCODE,NAME,COLOR,FOOD,SINGER,MOVIEGENRE,INSTAGRAM,EMAIL,STATUS,PROFILEIMG
		 from MEMBER
		  WHERE KAKAOCODE in (select TARGET from `likeme` where STALKER = #{KAKAOCODE})
	</select>
	

	<delete id="noMoreManitto" parameterType="map">
		DELETE FROM likeme WHERE TARGET=#{TARGET} AND STALKER=#{STALKER}
	</delete>
	

	<select id="totalLikeMe" parameterType="string" resultType="string">
	select stalker
	from likeme
	where target = #{value}
	</select>
	
	<select id="selectUser" parameterType="map" resultType="map">
		SELECT KAKAOCODE,NAME,COLOR,FOOD,SINGER,MOVIEGENRE,INSTAGRAM,EMAIL,STATUS,PROFILEIMG
		 FROM MEMBER
		 WHERE KAKAOCODE= #{KAKAOCODE}
	</select>
	
	
	
	<update id="updateFcm" parameterType="map">
	update member set FCM = #{Token} where KAKAOCODE = #{id}
	</update>
	
	<select id="selectFcm" parameterType="map" resultType="map">
		SELECT FCM
		 FROM MEMBER
		 WHERE KAKAOCODE= #{id}
	</select>
	
	<insert id="addBan" parameterType="map">
	insert into `BANLIST`( DOBLOCK, GETBLOCK, BANDATE) 
		VALUES (#{DOBLOCK},#{GETBLOCK} ,now());
	</insert>
	
	<select id="banList" parameterType="string" resultType="string">
	select GETBLOCK from `BANLIST` where DOBLOCK = #{value}
	</select>
	
	

</mapper>