<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="com.ymd.manitto.User" id="UserMap">
		<result property="KAKAOCODE" column="KAKAOCODE" />
		<result property="NAME" column="NAME" />
		<result property="COLOR" column="COLOR" />
		<result property="FOOD" column="FOOD" />
		<result property="SINGER" column="SINGER" />
		<result property="MOVIEGENRE" column="MOVIEGENRE" />
		<result property="INSTAGRAM" column="INSTAGRAM" />
		<result property="EMAIL" column="EMAIL" />
		<result property="STATUS" column="STATUS" />
		<result property="PROFILEIMG" column="PROFILEIMG" />
		<result property="FCM" column="FCM" />
	</resultMap>


	<select id="userSelectByKakao" parameterType="string" resultMap="UserMap">
		SELECT KAKAOCODE,NAME,COLOR,FOOD,SINGER,MOVIEGENRE,INSTAGRAM,EMAIL,STATUS,PROFILEIMG,FCM
		 FROM MEMBER
		 WHERE KAKAOCODE = #{value}
	</select>
	
	<insert id="likeyou" parameterType="map" >
		insert into LIKEME (TARGET,STALKER,CHECKDATE)
		values(#{TARGET}, #{STALKER}, NOW())
				 
	</insert>
	
	<select id="searchMSG" parameterType="map">
		select 
		
		
	</select>
	<select id="loveSight" parameterType="string" resultType="map">
	select TARGET,CHECKDATE
	FROM LIKEME
	where STALKER = #{value}
	</select>
	
	<select id="findMyFriends" parameterType="map" resultType="map">
		select KAKAOCODE,NAME,COLOR,FOOD,SINGER,MOVIEGENRE,INSTAGRAM,EMAIL,STATUS,PROFILEIMG
		 from MEMBER
		  WHERE KAKAOCODE in (select TARGET from `LIKEME` where STALKER = #{KAKAOCODE})
	</select>
	

	<delete id="noMoreManitto" parameterType="map">
		DELETE FROM LIKEME WHERE TARGET=#{TARGET} AND STALKER=#{STALKER}
	</delete>
	

	<select id="totalLikeMe" parameterType="string" resultType="string">
	select stalker
	from LIKEME
	where TARGET = #{value}
	</select>
	
	<select id="selectUser" parameterType="map" resultType="map">
		SELECT KAKAOCODE,NAME,COLOR,FOOD,SINGER,MOVIEGENRE,INSTAGRAM,EMAIL,STATUS,PROFILEIMG
		 FROM MEMBER
		 WHERE KAKAOCODE= #{KAKAOCODE}
	</select>
	
	
	
	<update id="updateFcm" parameterType="map">
	update MEMBER set FCM = #{Token} where KAKAOCODE = #{id}
	</update>
	
	<select id="selectFcm" parameterType="map" resultType="map">
		SELECT FCM
		 FROM MEMBER
		 WHERE KAKAOCODE= #{id}
	</select>
	
	<insert id="addBan" parameterType="map">
	insert into `BANLIST`( DOBLOCK, GETBLOCK, BANDATE) 
		VALUES (#{DOBLOCK},#{GETBLOCK} ,now());
	</insert>
	
	<select id="banList" parameterType="string" resultType="string">
	select GETBLOCK from `BANLIST` where DOBLOCK = #{value}
	</select>
	
		

</mapper>